@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
  --color-light: #ffffff;
  --color-dark: #0a0a0a;
  --color-primary: #8031a7;
  --color-secondary: #407ec9;
  --color-success: #00b08b;
  --color-error: #f9423a;
}

/* @media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

@layer base {
  * {
    @apply outline-primary;
  }
  body {
    @apply text-dark bg-light font-[family-name:var(--font-poppins)];
  }

  svg > path {
    @apply !fill-inherit;
  }
}

@layer components {
  .container-col {
    @apply flex flex-col justify-center items-center gap-8 p-10 sm:p-20 w-full min-h-full;
  }

  .form-message {
    @apply text-error text-xs font-semibold;
  }

  .form-input {
    @apply w-px-300 px-2 py-1.5 ring-1 ring-primary rounded-sm hover:ring-2 focus:ring-2 outline-0;
  }
}

@utility bg-gradient-primary {
  @apply bg-linear-to-b from-primary to-secondary;
}

@utility font-poppins {
  font-family: var(--font-poppins);
}

@utility h-px-* {
  height: --value(integer)px;
}

@utility max-h-px-* {
  max-height: --value(integer)px;
}

@utility min-h-px-* {
  min-height: --value(integer)px;
}

@utility max-w-px-* {
  max-width: --value(integer)px;
}

@utility min-w-px-* {
  min-width: --value(integer)px;
}

@utility text-gradient {
  @apply text-transparent bg-linear-to-b from-primary to-secondary bg-clip-text;
}

@utility w-px-* {
  width: --value(integer)px;
}